* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    padding: 10px;
}

p {
    border: 1px solid red;
    margin-bottom: 5px;
}

.paragraph_1 {
    width: 100%;
}

.paragraph_2 {
    width: 650px;
}

.paragraph_3 {
    width: 70rem;
}
ul {
    padding-left: 40px;
}

li {
    /* font-size: 2em; */
    /* rem = root element */
    font-size: 2rem;
}


.box {
    /*
        vw = viewpoint width
        vh = viewpoint height
 
        vmin = minimum viewpoint
        vmax = maximum viewpoint
 
 
        width > heigth
        vmin = heigth
        vmax = width
 
        width < heigth
        vmin = width
        vmax = heigth
     */
    /* width: 50vh;
    height: 50vw; */
    width: 50vmax;
    height: 50vmin;
    border: 1px solid red;
}
 
.container {
    height: 300px;
    min-width: 400px;
    max-width: 1100px;
    border: 1px solid red
}

/* 
1 - Создать блок шириной 50% и высотой 400px 
2 - Добавить внутренние отступы слева и справа (5%) а внешними (20%) и отступами сверху и снизу (внутренние 30px а внешние 40px). 
3 - Добавьте черную рамку в 5px 
и добавьте border-box и посмотреть разницу 
*/
.block {
    width: 50%;
    height: 400px;
    padding: 30px 5%;
    margin: 40px 20%;
    border: 5px solid black;
    background-color: rgba(255,100,150)
}

/* background-color: red; */
    /* ============ */
    /* 0 1 2 3 4 5 6 7 8 9 A B C D E F */
    /* c7 60 60 */
    /* background-color: #b7ec9b; */

    /* ============ */
    /*
        rgb
        r = red
        g = green
        b = blue
        [0...255]

        rgba
        a alfa => [0...1]
     */
     /* 2 ^ 8 = 256 */
    /* background-color: rgb(255, 255, 255); */
    /* background-color: rgba(255, 10, 10, 0.5); */

